body {
    background-color: #f4f4f4;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-flow: column wrap;
    margin: 0;
}


/* HEADER */
header {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    margin: 0 20%;
    width: max-content;
}

/* H1 */
h1 {
    color: black;
    font-weight: bold;
    font-size: 70px;
    margin: 20px 0;
}
.name {
    color: #bb5511;
}

/* Location */
.location {
    font-size: 30px;
    margin: 5px 0;
}
.location a {
    text-decoration: none;
    color:  black;
}
.location a:hover {
    text-decoration: underline;
}
.location i {
    padding: 5px;
}

/* Links */
.links {
    font-size: 25px;
    margin: 20px 0;
    color: black;
}
.link {
    margin: 0 10px;
    background-color: white;
    padding: 5px 10px;
    border-radius: 30px;
    transition: all 0.4s ease;
    
}
.link a {
    color: black;
    text-decoration: none;
    transition: all 0.4s ease;
}
.link a:hover {
    text-decoration: underline;
}
.links i {
    padding: 5px;
}


/* PROJECTS */
.projects {
    font-size: 20px;
}
.projects h2 {
    text-align: center;
    font-size: 35px;
}
.projectsWrapper {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}
.project {
    width: 400px;
    border-radius: 40px;
    border: 2px solid black;
    padding: 10px;
    margin: 5px;
    background-color: white;
}
.project img {
    width: 100%;
    height: 300px;
    object-fit: contain;
    border-radius: 40px 40px 0 0;
}
.project span {
    text-decoration: underline;
    display: block;
    text-align: center;
}
.project p {
    margin: 10px 0;
    text-align: center;
}
.project a {
    text-decoration: none;
    color: black;
}
.project span:hover {
    color: #2d58a8;
}