/* src/styles/fonts.css */

/* Regular */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: url('/fonts/Montserrat-Regular.ttf') format('truetype');
}

/* Bold */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-display: block;
  src: url('/fonts/Montserrat-Bold.ttf') format('truetype');
}

/* Italic */
@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 400;
  font-display: block;
  src: url('/fonts/Montserrat-Italic.ttf') format('truetype');
}